@import "../../style-config/variable.scss";
@import "../../style-config/mixins.scss";

.skills-content-wrapper {
    display: flex;
    align-items: center;
    .left-col {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 100%;
            max-width: 453px;
            display: block;
        }
    }
    .right-col {
        width: 60%;
        color: $white;
        margin-left: 70px;
        h2 {
            margin-bottom: 30px;
        }
        p {
            @include typography(18px, 400, 24px);
            margin-bottom: 15px;
        }
    }
}
